* {
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-family: Ubuntu;
    color: #313636;
    outline: none;
}

#robot {
    width: 24px;
    height: 24px;
    left: 24px;
    top: 38px;
}

#to_settings_lbl {
    width: 161px;
    height: 17px;
    left: 148px;
    top: 42px;
    font-size: 15px;
    line-height: 17px;
}

#arrow {
    width: 15.95px;
    height: 14.7px;
    left: 323.05px;
    top: 42.65px;
}

#state_lbl {
    width: 100px;
    height: 20px;
    left: 27px;
    top: 91px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

#bot_state {
    width: 61px;
    height: 19px;
    top: 90px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    /* color: #00ff19; */
}

#state_img {
    width: 11px;
    height: 11px;
    left: 321px;
    top: 94px;
}

#brawlstars {
    width: 189px;
    height: 150px;
    left: -44px;
    top: 139px;
}

.panel_ctrl {
    width: 187px;
    height: 138px;
    left: 152px;
    top: 139px;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#panel_ctrl_lbl {
    width: 165px;
    height: 18px;
    left: 165px;
    top: 158px;
    font-size: 16px;
    line-height: 18px;
}

#bot_stop,
#bot_start {
    border: none;
    border-radius: 20px;
    color: #f2f2f2;
    font-weight: bold;
}

#bot_start {
    width: 123px;
    height: 32px;
    left: 165px;
    top: 187px;
    background: #00ff19;
}

#bot_stop {
    width: 97px;
    height: 32px;
    left: 165px;
    top: 230px;
    background: #ff5656;
}

.panel_debug {
    width: 358px;
    height: 197px;
    left: -19px;
    top: 304px;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#panel_debug_lbl {
    width: 149px;
    height: 18px;
    left: 16px;
    top: 324px;
    font-weight: bold;
    font-size: 15px;
}

#log_requests_to_server {
    width: 18px;
    height: 18px;
    left: 16px;
    top: 361px;
}

#log_to_file {
    width: 18px;
    height: 18px;
    left: 16px;
    top: 393px;
    background-color: #f2f2f2;
}

#log_to_console {
    width: 18px;
    height: 18px;
    left: 16px;
    top: 425px;
    background: #eeeeee;
}

#log_level_debug {
    width: 18px;
    height: 18px;
    left: 16px;
    top: 454px;
    background: #eeeeee;
}

#log_requests_to_server_lbl {
    width: 231px;
    height: 17px;
    left: 48px;
    top: 361px;
    font-size: 14px;
    line-height: 16px;
}

#log_to_file_lbl {
    width: 264px;
    height: 17px;
    left: 48px;
    top: 393px;
    font-size: 14px;
    line-height: 16px;
}

#log_to_console_lbl {
    width: 166px;
    height: 17px;
    left: 48px;
    top: 425px;
    font-size: 14px;
    line-height: 16px;
}

#log_debug_lbl {
    width: 194px;
    height: 17px;
    left: 48px;
    top: 457px;
    font-size: 14px;
    line-height: 16px;
}

#infinity_mode_lbl {
    width: 158px;
    height: 18px;
    left: 24px;
    top: 523px;
    font-size: 16px;
    line-height: 18px;
}

#infinity_mode_description {
    width: 245px;
    height: 32px;
    left: 25px;
    top: 547px;
    font-size: 14px;
    line-height: 16px;
    color: #b9b9b9;
}

#infinity_mode {
    width: 19px;
    height: 19px;
    left: 300px;
    top: 523px;
}

.line__bottom {
    width: 31px;
    height: 3px;
    left: 164px;
    top: 598px;
    background: #edeaea;
    border-radius: 20px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#by {
    /* Made with ❤ to Bots */
    width: 120px;
    height: 12px;
    left: 122px;
    top: 614px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}