* {
  padding: 0px;
  margin: 0px;
  font-family: Ubuntu;
  color: #313636;
  font-style: normal;
  font-weight: normal;
  position: absolute;
}

.robot {
  width: 24px;
  height: 24px;
  left: 24px;
  top: 38px;
  font-family: Segoe MDL2 Assets;

  font-size: 24px;
  line-height: 24px;
}

.to_control {
  width: 165px;
  height: 17px;
  left: 148px;
  top: 42px;

  font-size: 15px;
  line-height: 17px;
}

.arrow {
  width: 16px;
  height: 16px;
  left: 323px;
  top: 42px;
  font-family: Segoe MDL2 Assets;

  font-size: 16px;
  line-height: 16px;
}

.status_text {
  width: 100px;
  height: 20px;
  left: 27px;
  top: 91px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.status {
  width: 61px;
  height: 19px;
  left: 255px;
  top: 90px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #00ff19;
}

.eclipse {
  width: 11px;
  height: 11px;
  left: 321px;
  top: 94px;
}

.multiple1 {
  width: 182px;
  height: 18px;
  left: 19px;
  top: 128px;

  font-size: 16px;
  line-height: 18px;
  color: #313636;
}

.description1 {
  width: 245px;
  height: 64px;
  left: 19px;
  top: 152px;

  font-size: 14px;
  line-height: 16px;
  color: #b9b9b9;
}

.multiple2 {
  width: 156px;
  height: 18px;
  left: 19px;
  top: 225px;

  font-size: 16px;
  line-height: 18px;
}

.description2 {
  width: 245px;
  height: 80px;
  left: 19px;
  top: 249px;

  font-size: 14px;
  line-height: 16px;
  color: #b9b9b9;
}

.auto_mode_checkbox {
  width: 31px;
  height: 14px;
  left: 293px;
  top: 130px;
}

.easy_mode_checkbox {
  width: 31px;
  height: 14px;
  left: 293px;
  top: 226px;
}
