{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
<link rel="stylesheet" href="{{ url_for('static', filename='control_style.css')}}">
<title>Контроль бота</title>
{% endblock %} {% block content %}
<div>
    <img class="robot" src="{{ url_for('static', filename='./images/Robot(E99A).svg')}}" alt="Robot!">
    <a href="/settings">
        <span class="go__settings">Перейти к настройкам</span>
        <img class="arrow" src="{{ url_for('static', filename='./images/arrow.svg')}}">
    </a>
    <div>
        <span class="state__pre">Статус бота</span>
        <span class="state">ONLINE</span>
        <img class="state__img" src="{{ url_for('static', filename='./images/green-ellipse.svg')}}">
    </div>
    <div>
        <div>
            <img class="brawlstars" src="{{ url_for('static', filename='./images/brawlstars.svg')}}">
            <div class="panel__ctrl"></div>
            <span class="panel__ctrl_span">Управление запуском</span>
            <input class="panel__start" id="panel__start" type="button" value="Запустить бота">
            <input class="panel__stop" id="panel__stop" type="button" value="Остановить">
        </div>
        <div>
            <div class="panel__debug"></div>
            <span class="panel__debug_title">Настройки отладки</span>
            <input class="checkbox1" id="easy_debug" type="checkbox" name="">
            <input class="checkbox2" id="log_to_file" type="checkbox" name="">
            <input class="checkbox3" id="log_to_console" type="checkbox" name="">
            <input class="checkbox4" id="log_level_debug" type="checkbox" name="">

            <img src="{{ url_for('static', filename='./images/gear.svg')}}" alt="" class="gear">

            <span class="easy__debug">Упрощенная отладка</span>
            <span class="log__file">Логгирование в файл</span>
            <span class="log__console">Логгирование в консоль</span>
            <span class="log__debug">Логгирование уровня DEBUG</span>
        </div>
        <div class="line__bottom"></div>
        <span class="by">Made with <span style="color: red;">❤</span> to <span style="color: #4D6479;">Bots</span></span>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js')}}" type="module"></script>
{% endblock %}