{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
<link rel="stylesheet" href="{{ url_for('static', filename='control_style.css')}}">
<title>Контроль бота</title>
{% endblock %} {% block content %}
<div>
    <img class="robot" src="{{ url_for('static', filename='./images/Robot(E99A).svg')}}" alt="Robot!">
    <a href="/settings">
        <span class="go__settings">Перейти к настройкам</span>
        <img class="arrow" src="{{ url_for('static', filename='./images/arrow.svg')}}">
    </a>
    <div>
        <span class="state__pre">Статус бота</span> {% if state == 'online' %}
        <span class="state" id="bot__state" style="color: #00ff19;left: 255px;">ONLINE</span>
        <img class="state__img" src="{{ url_for('static', filename='./images/green-ellipse.svg')}}"> {% elif state == 'offline' %}
        <span class="state" id="bot__state" style="color: #FF0000;left: 250px;">OFFLINE</span>
        <img class="state__img" src="{{ url_for('static', filename='./images/red-ellipse.svg')}}"> {% endif %}
    </div>
    <div>
        <div>
            <img class="brawlstars" src="{{ url_for('static', filename='./images/brawlstars.svg')}}">
            <div class="panel__ctrl"></div>
            <span class="panel__ctrl_span">Управление запуском</span>
            <input class="panel__start" id="panel__start" type="button" value="Запустить бота">
            <input class="panel__stop" id="panel__stop" type="button" value="Остановить">
        </div>
        <div>
            <div class="panel__debug"></div>
            <span class="panel__debug_title">Настройки логов</span>
            <input class="checkbox1 " id="log_requests_to_server_checkbox" type="checkbox" name="">
            <input class="checkbox2" id="log_to_file_checkbox" type="checkbox" name="">
            <input class="checkbox3" id="log_to_console_checkbox" type="checkbox" name="">
            <input class="checkbox4" id="log_level_debug_checkbox" type="checkbox" name="">

            <span class="log_requests_to_server_text">Логгирование запросов на сервер</span>
            <span class="log__file">Логгирование результатов боя в файл</span>
            <span class="log__console">Логгирование в консоль</span>
            <span class="log__debug">Логгирование уровня debug</span>
        </div>
        <div class="infinity_mode">
            <span id="infinity__mode__text">Бесконечный режим</span>
            <span id="infinity__mode__description">Автоматический перезапуск бота после завершения его работы</span>
            <input type="checkbox" name="checkbox" id="infinity_checkbox">
        </div>
        <div class="line__bottom"></div>
        <span class="by">Made with <span style="color: red;position: initial;">❤</span> to <span style="color: #4D6479;position: initial;">Bots</span></span>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js')}}" type="module"></script>
{% endblock %}