{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
<link rel="stylesheet" href="{{ url_for('static', filename='settings_style.css') }}">
<title>Настройки</title>
{% endblock %} {% block content %}
<div>
    <img src="{{ url_for('static', filename='./images/Robot(E99A).svg')}}" id="robot">
    <a href="/">
        <span id="to_control">Перейти к управлению</span>
        <img src="{{ url_for('static', filename='./images/arrow.svg')}}" id="arrow">
    </a>

    <span id="status_lbl">Статус бота</span>
    <span id="status">ONLINE</span>
    <img src="{{ url_for('static', filename='./images/green-ellipse.svg')}}" id="eclipse">
</div>

<div>
    <!-- блок множественного режима -->
    <span id="multiple_mode_lbl">Множественный режим</span>
    <span id="multiple_mode_description">Режим работы бота, при котором он будет работать до тех пор, пока в игре можно получить
        звездные очки</span>
    <input type="checkbox" id="multiple_mode">

    <!-- блок упрощенного режима -->
    <span id="simplified_mode_lbl">Упрощенный режим</span>
    <span id="simplified_mode_description">Бот использует упрощенные алгоритмы атаки и передвижения чтобы гарантировать исправную
        работу и максимальную производительность</span>
    <input type="checkbox" id="simplified_mode">

    <script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
</div>

{% endblock %}